*.md linguist-language=Java 
*.yml linguist-language=Java 
*.html linguist-language=Java 
*.js linguist-language=Java 
*.xml linguist-language=Java
*.css linguist-language=Java 
*.sql linguist-language=Java
*.uml linguist-language=Java 
*.cmd linguist-language=Java 

build 
.idea
/target/
*.gitattributes;
*.gitignore;
*.hprof;
*.idea;
*.iml;
*.mvn;
*.pyc;
*.pyo;
*.rbc;
*.yarb;
*~;.DS_Store;
.git;
.hg;
.svn;
CVS;__pycache__;
_svn;
mvnw;
mvnw.*;
vssver.scc;
vssver2.scc;
